*{
  margin:0;
}

.App {
  text-align: center;
  height:100vh;
  background:#eee
}

.title{
  padding-top:40px;
}

.background{
  text-align:left;
  width:400px;
  height:700px;
  background:#fff;
  margin:70px auto 0;
  border-radius: 20px;
  padding:20px 20px 0;
  box-shadow: 1px 1px 1px 1px #ccc;
  box-sizing: border-box;
  position:relative;
}
.background h4{
  margin:20px 0;
}

.list{
  height:50px;
  margin-top:30px;
  overflow:hidden;
}

.list p{
  display:inline-block;
}
.list button{
  float:right;
}

.plus{
  position:absolute;
  bottom:40px;
}

.plus input{
  outline: none;
  border:none;
  border-bottom:1px solid #000;
  font-size:22px;
}
.plus button{
  border:none;
}